/**
 * @file
 * Pane Collection Paddlet styling.
 */

.pane-paddle-pane-collection > .pane-content {
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  margin-bottom: 0;
  background-color: inherit;
}
