// "Responsive" skew mixin.

@mixin generate-responsive-skew($class, $max-width, $columns: 12) {
  // Calculate the padding added by paddingizer class.
  $row-pad: $max-width / 100 * 4.20248 * 2;
  // Calculate the real row width.
  $row-width: $max-width - $row-pad;

  @for $column from 1 through $columns {
    // Calculate the width of the row.
    $percentage: ($column * 5.4441260744986) + (3.1518624641834 * ($column - 1));
    $width: $row-width / 100 * $percentage;
    // Calculate the degrees for the skewing.
    $degrees: rad_to_deg(atan(10 / $width)) + unquote('deg');

    .col-#{$class}-#{$column} & {
      @include skew(0deg, $degrees);
    }
  }
}
