//
// @file
// Color variables.
// ---------

$menu-green-color: #af9f9f;
$menu-darkergreen-color: #1ab097;
$main-blue: #2c8fc6;
$orange-detail: #ff8c40;
$orange-hover: #ff6d0d;
$dark-grey: #868686;
$light-grey: #ececec;
$light-blue: #49beea;
$red: #d65536;
$c-white: #FFF;
$c-black: #000;
$background-white: #FFF;
$light-silver: #f2f2f2;
