//
// @file
// Color variables.
// ---------
//
// @file
// Color variables.
// ---------
$light-silver: #f2f2f2;
$silver: #f5f5f5;
$silver-alt: #B8B8B8;
$light-grey: #dddddd;
$red: #d9534f;
$green: #5cb85c;

$c-white: #FFF;
$c-gallery: #EBEBEB;
$c-gallery-alt: #EEEEEE;
$c-nobel: #B5B5B5;

$c-mineshaft: #333;
$c-mineshaft-second: #2F2F2F;

$c-dusty-gray: #989898;
$c-alto: #D3D3D3;
$c-alto-alt: #DFDFDF;
$c-black-olive: #272C17;
$c-jelly-bean: #2B979D;
$c-jelly-bean-second: #23789C;
$c-scorpion: #5E5E5E;
$c-scorpion-alt: #595959;
$c-scorpion-alt-second: #5F5F5F;
$c-pelorous: #39B9BE;
$c-elm: #1C7074;
$c-elm-green: #1C6F73;
$c-rum: #735781;
$c-curious-blue: #2B92BE;
$c-curious-blue-alt: #2E8FCB;
$c-apple: #4BA144;
$c-mantis: #5DBE55;
$c-trendy-pink: #926DA5;
$c-silver: #CCCCCC;
$c-black: #000000;
$c-picton-blue: #55C5E9;
$c-orient: #005384;
$c-alabaster: #FAFAFA;
$c-concrete: #F3F3F3;
$c-mercury: #E6E6E6;
$c-mercury-alt: #E1E1E1;
$c-dove-gray: #666;
$c-dove-gray-alt: #707070;
$c-silver-chalice: #ABABAB;
$c-silver-chalice-alt: #A9A9A9;
$c-gray: #8F8F8F;
$hp-group_accommodations: #86A52E;
$hp-organised_holidays: #E77326;
$hp-day_trips: #C54132;
$hp-holiday_accommodations: #1FA4DC;
