/**
* @file
* Styling for forms.
*
* Contains all styles related to forms.
*/
fieldset {
  border: none;
}

legend {
  font-size: 1.6em;
  font-weight: 400;
  text-transform: capitalize;
}

select,
textarea,
input {
  color: #555;
  display: inline-block;
  margin: 1em 0;
  padding: 4px 0;
  vertical-align: middle;
}

select,
input[type="file"] {
  height: 30px;
  line-height: 30px;
}

select {
  background-color: $background-white;
  border: 1px solid #ccc;
}

select[multiple="multiple"] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline: thin dotted #333;
  outline-offset: -2px;
}

textarea,
input[type="text"] {
  border: 1px solid #b5b6b7;
}

input[type="text"] {
  text-indent: 6px;
}

.page-node-edit #mini-panel-basic_options .form-text {
  width: 100%;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 84%;
  margin: 0;
  vertical-align: middle;
}

#edit-cancel,
.form-submit,
.button {
  background-color: $main-blue;
  border: none;
  color: $c-white;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  min-width: 150px;
  padding: 0;

  // Re-hide hidden elements due to specifity.
  &.hidden {
    display: none;
  }
}

.button {
  // Center text in button to mimic inputs behavior.
  text-align: center;

  > span {
    display: inline-block;
    padding: 0 6px;
  }

  // Leave icon-ed buttons alone.
  &.ui-icon {
    text-align: left;

    > span {
      padding: 0;
    }
  }
}

.confirmation {
  a[id="edit-cancel"] {
    @extend .button;
  }
}

.button-activate {
  background-color: $main-blue;
}

.button-activated {
  cursor: default;
  background-color: $menu-green-color;
}

span.button {
  cursor: default;
}

.button-green {
  background-color: $menu-darkergreen-color;
}

.button-red {
  background-color: #ff8c40;
}

.button-orange {
  background-color: orange;
}

.button-configure,
.button-info {
  background: darken($light-grey, 5%);
  color: $main-blue;
}

.button-configure a,
.button-info a {
  color: #2c8fc6;
}

a.button:hover,
#edit-cancel:hover,
input.form-submit:hover,
input.form-submit:focus {
  background: darken($main-blue, 10%);
  color: $c-white;
}

a.button.button-red:hover {
  background: #ff7833;
}

.button.disabled {
  opacity: .65;
  filter: alpha(opacity=65);
}

input.form-button-disabled {
  color: #bababa;
  background-color: #ebebe4;
}

input.form-button-disabled:hover {
  background: #ebebe4;
  cursor: default;
}

#edit-actions {
  margin-top: 20px;
}

.exposed-filters #edit-actions {
  margin-top: 0;
}

#edit-actions > input,
#edit-actions > a {
  margin-left: 10px;
}

#edit-actions > input:first-child,
#edit-actions > a:first-child {
  margin-left: 0;
}

.page-admin-structure-taxonomy-manager #edit-cancel,
.page-admin-structure-menu-manager #edit-cancel {
  display: none;
}

.views-displays .secondary .action-list input.form-submit {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  color: #43474a;
  float: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

.views-ui-dialog .form-buttons input.form-submit {
  float: none;
}

.form-item label {
  font-size: 1em;
  font-weight: bold;
  margin: 0.25em 0;
}

.form-textarea-wrapper textarea {
}

.input-file-wrapper.withButton {
  padding-right: 60px;
}

.input-file-wrapper {
  background-color: $background-white;
  border-color: #b5b6b7;
  border-image: none;
  border-style: solid none solid solid;
  border-width: 1px 0 1px 1px;
  color: #595959;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  line-height: 30px;
  overflow: hidden;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 110px;
}

.input-file-wrapper input[type="file"] {
  cursor: pointer;
  height: 30px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 3;
}

.input-file-wrapper.withButton {
  padding-right: 141px;
}

.input-file-wrapper:after {
  background: #fff url(../images/file-upload.png) no-repeat center right;
  border: 0 none !important;
  color: #000;
  content: "";
  display: block;
  font-size: 14px;
  font-weight: 700;
  height: 28px;
  line-height: 30px;
  position: absolute;
  right: 0;
  width: 30px;
}

.input-file-wrapper .dummy-input-text {
  background: $c-white;
  border: none;
  cursor: pointer;
  height: 30px;
  left: 0;
  line-height: 30px;
  padding: 0;
  position: absolute;
  top: 0;
  width: 214px;
}

.input-file-wrapper input:hover {
  cursor: pointer;
  display: block;
}

.input-file-wrapper.withButton + .form-submit {
  margin-left: 10px;
}

.exposed-filters .form-item {
  margin: 0 0 1em;
  padding: 0;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  padding: 3px 0;
  border: 2px solid red;
}

.pane-node-form-menu a.ui-selectmenu,
.page-node-add-basic-page .ui-selectmenu-menu,
.page-node-add-basic-page .ui-selectmenu-menu-dropdown {
  background: $c-white;
  min-width: 300px;
}

.form-item,
.form-actions {
  margin: 1em 0;
}

.tabledrag-hide .select-wrapper {
  width: 7.5em;
}

#edit-field-paddle-title-icon .select-wrapper {
  overflow: visible;
  border: none;
}

#icon-selection-dd-placeholder {
  background: url("../images/select-arrow-down.png") no-repeat scroll right bottom white;
}

.select-wrapper .form-select option {
  width: 100%;
  padding: 0px 5px;
  outline: 0px;
  -webkit-appearance: none;
}

input[type="submit"]::-moz-focus-inner,
input[type="radio"]::-moz-focus-inner,
input[type="checkbox"]::-moz-focus-inner {
  border: 0px;
}

.lt-ie9 input[type="submit"]:focus,
.lt-ie9 input[type="radio"]:focus,
.lt-ie9 input[type="checkbox"]:focus {
  outline: none;
}

.lt-ie8 .select-wrapper {
  border: none;
}

.lt-ie8 .select-wrapper .form-select {
  width: 100%;
  background-color: white;
  border: solid 1px #b5b6b7;
  padding: 0.3em 0.5em;
}

.view-users-overview .select-wrapper select {
  height:auto;
}

/* @paddle style plugins: UI */
#paddle-themer-theme-edit-form fieldset {
  border: none;
  margin-left: 0;
  padding-left: 0;
}

.paddle-style-plugin .form-type-radio {
  margin-top: 0;
}

.paddle-style-plugin input[type="text"] {
  width: auto;
}

.paddle-style-plugin label.option {
  display: inline-block;
  vertical-align: middle;
}

.paddle-style-plugin .form-item {
  margin: 0.8em 0;
}

/*@branding settings */
.paddle-style-plugin-paddle-core-branding .form-type-radio {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.paddle-style-plugin #edit-branding .fieldset-wrapper {
  display: inline-block;
}

.paddle-style-plugin #form-item-branding-paddle-core-branding--context-global-style-vo-branding label {
  float: none;
  display: inline !important;
}

.paddle-style-plugin .input-file-wrapper,
.paddle-style-plugin .input-file-wrapper:after {
  background: none repeat scroll 0 0 transparent;
  border-right: 1px solid #b5b6b7;
  float: left;
}

.paddle-style-plugin .input-file-wrapper + input.form-submit {
  height: 30px;
  margin: 0 0 0 1em;
}

.paddle-style-plugin .input-file-wrapper + input.form-submit.remove-button {
  display: block;
  height: 30px;
  border: none;
  float: left;
}

#edit-branding-paddle-core-branding-context-global-style-favicon-ajax-wrapper {
  clear: both;
  overflow: hidden;
}

.paddle-style-plugin .file {
  float: left;
  margin-right: 13px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 191px;
}

.paddle-style-plugin .form-submit {
  padding: 4px 20px;
}

.paddle-style-plugin .form-type-radios {
  clear: both;
}

.paddle-style-plugin .form-type-radio:hover {
  cursor: pointer;
}

.paddle-style-plugin .input-file-wrapper.withButton {
  padding-right: 82px;
}

.lt-ie9 .paddle-style-plugin .input-file-wrapper.withButton {
  padding-right: 52px;
}

.ajax-progress-throbber {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  min-height: 20px;
}

.ajax-progress .throbber {
  background: transparent url(../images/throbber.gif) no-repeat 0px 0px;
  height: 30px;
  margin: 0;
  min-width: 30px;
}

.ajax-progress .message {
  display: inline-block;
  padding: 0;
}

.form-managed-file {
  display: inline-block;
  vertical-align: middle;
}

.form-managed-file div.throbber {
  display: inline;
  float: none;
  padding: 1px 12px 4px 12px;
}

.form-managed-file div.ajax-progress,
.form-managed-file div.throbber {
  display: inline-block;
  float: none;
  padding: 0px 0 0px 5px;
}

.form-managed-file div.throbber img {
  display: block;
  position: relative;
  top: 5px;
}

.ajax-progress .throbber {
  background: transparent url(../images/throbber.gif) no-repeat center center;
}

.paddle-style-plugin-paddle-core-branding .form-type-managed-file label {
  display: inline-block;
  width: 8em;
}

/* @styling */
.paddle-style-plugin-background .form-type-radio {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
}

.paddle-style-plugin .select-wrapper {
  margin-top: 0;
}

.jquery_colorpicker .inner_wrapper {
  background-image: none !important;
}

/* @Suggestion list */
#autocomplete {
  border: 1px solid #b1b3b5;
  max-height: 136px;
  overflow-y: scroll;
}

#autocomplete li {
  color: #43474a;
}

#autocomplete li.selected {
  background: #005384;
  color: $c-white;
}

.section-wrapper .form-type-textfield {
  position: relative;
}

/* @Create menu item form.  */
#paddle-menu-manager-menu-item-form .form-item-content-button {
  position: relative;
}

#paddle-menu-manager-menu-item-form .form-item-internal-link,
#paddle-menu-manager-menu-item-form .form-item-external-link {
  position: absolute;
  top: 0;
  left: 10em;
}

#paddle-menu-manager-menu-item-form .form-item-internal-link {
  top: 11px;
}

#paddle-menu-manager-menu-item-form .form-item-external-link {
  top: 40px;
}

#modal-content #paddle-menu-manager-menu-item-form input.form-autocomplete {
  width: auto;
}

.ie9 .placeholder,
.lt-ie9 .placeholder {
  color: #aaa;
}

.field-widget-active-tags-taxonomy-autocomplete {
  position: relative;

  .at-add-btn {
    width: 95px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }

  .modal-content & {
    .at-term-entry {
      max-width: 350px;
      max-width: calc(99% - 160px);
    }
  }
}

/* @Content manager internal search page */
#views-exposed-form-paddle-archive-paddle-content-manager-archive,
#views-exposed-form-content-manager-page {
  background-color: $light-grey;
  padding: 20px;

  .views-exposed-widget {
    padding: 0;
  }

  .form-type-textfield,
  .form-type-select,
  .views-submit-button {
    padding: 5px 0;
  }

  /* Fix for extra whitespace when using display: inline-block; */
  .views-exposed-widgets {
    font-size: 0;
  }

  .views-exposed-widget {
    font-size: 1rem;
  }

  .views-widget-filter-title,
  .views-widget-filter-type,
  .views-submit-button {
    width: 22.63612%;
    display: inline-block;
    vertical-align: bottom;
    float: none;
    position: relative;
    z-index: 50;
  }

  .views-submit-button {
    margin-left: 3.1518624641834%;
  }

  #edit-secondary-wrapper {
    width: 100%;
  }

  #edit-secondary-wrapper legend {
    top: 1.7em;
  }

  label {
    display: block;
  }

  .form-item select,
  .form-item input {
    width: 100%;
  }

  .form-item-uid,
  .form-item-field-page-responsible-author-target-id,
  .form-item-state,
  .form-item-created-min,
  .form-item-created-max,
  .form-item-changed-min,
  .form-item-changed-max {
    width: 48.424068767908%;
    float: left;
  }

  .form-item-state,
  .views-widget-filter-type,
  .form-item-changed-max,
  .form-item-created-max {
    margin-left: 3.1518624641834%;
  }
}

#edit-field-page-responsible-author {
  #field-page-responsible-author-add-more-wrapper {
    clear: both;
  }
}

#views-form-paddle-archive-paddle-content-manager-archive {
  .views-field-actions {
    > .ui-icon {
      > span {
        @include visuallyhidden;
      }
    }
  }
}

#views-exposed-form-content-manager-page .form-item-nid {
  width: 48.424068767908%;
  float: left;
  margin-left: 3.1518624641834%;
}

#edit-field-page-responsible-author-target-id,
#edit-nid {
  width: 222px;
}

#edit-field-paddle-general-tags-tid-wrapper {
  clear: left;
}

#edit-creation-uid-wrapper {
  clear: left;
}

#edit-created-wrapper {
  clear: left;
}

/* @Collapsible "show more" fieldsets. */
.has-show-more-fieldset {
  position: relative;
}

.has-show-more-fieldset fieldset {
  padding: 0;
  position: static;
  margin-bottom: 0 !important;
}

html.js .has-show-more-fieldset fieldset.collapsed {
  height: 0;
}

.has-show-more-fieldset fieldset > legend {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1em;
}

.has-show-more-fieldset fieldset > .fieldset-wrapper {
  border-top: 1px solid #b5b6B7;
  padding-top: 1em;
  margin-top: 1em;
}

// Resize Scald image previews with CSS instead of creating an extra thumbnail
// image style for each supported image style.
.form-type-paddle-scald-image-atom .image > img {
  max-width: 80px;
  max-height: 80px;
  height: auto;
}

// Atom add form.
.plupload_buttons .plupload_start {
  display: none;
}

// User account form.
@media (min-width: $responsive-medium) {
  #edit-account, #edit-field-paddle-user-real-name {
    float: left;
    width: 50%;
    margin-right: 50px;
  }
}

#edit-field-paddle-user-notifications-und {
  label {
    font-weight: normal;
  }
}

form {
  .field-multiple-table {
    th.field-label {
      padding-left: 10px; /*LTR*/
    }
  }
}

// Styles form.
#edit-settings-image-upload {
  .input-file-wrapper.withButton {
    & + .form-submit {
      margin-bottom: 25px;
    }
  }
}

#panels-edit-style-type-form {
  padding-left: 2%;
  padding-bottom: 1%;
}

.pane-node-menu-items {
  span.dominant-breadcrumb {
    font-size: 0.8em;
  }
}
