$page-width: 1200px;
// Based upon the page-width variable.
$b-page-width-large: 1270px;
// Change this if you do not want to have items to stick to the edges of the screen.
$page-padding: 0;

$normal-padding: 20px;
