// @file
// Generic styles for javascript components.
// @todo organize this better

.lock-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1040;
  overflow: hidden;
  outline: 0;
  // IE fallback.
  background-color: lighten(#000, 25%);
  background-color: rgba(0, 0, 0, .75);
  background-image: url('../images/throbber.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
