/**
* @file
* Styling for panes.
*/
.node-listing-teaser {
  overflow: hidden;
}
.node-listing-teaser .thumbnail img {
  float: left;
  margin-right: 10px;
  border-radius: 45px;
}

.pane-photo-album .pane-section-body {
  display: flex;
  justify-content: flex-start;
  align-content: space-around;
  flex-flow: row wrap;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 1171px) {
  .photo-album-image {
    padding: 5px 1.2%;
  }

  .offer-section-body .photo-album-image:first-of-type, .offer-section-body .photo-album-image:nth-of-type(4n+1) {
    padding-left: 0;
  }
  .offer-section-body .photo-album-image:last-of-type, .offer-section-body .photo-album-image:nth-of-type(4n) {
    padding-right: 0;
  }

  .content .col-lg-6.col-md-12 .photo-album-image {
    flex-basis: 22%;
  }
  .content .col-lg-3.col-md-6 .photo-album-image, .content .col-lg-3.col-md-12 .photo-album-image, .content .col-lg-4.col-md-6 .photo-album-image, .content .col-lg-4.col-md-12 .photo-album-image {
    flex-basis: 47%;
    padding: 5px 1.23%;
  }
  .content .col-lg-8.col-md-6 .photo-album-image {
    flex-basis: 16%;
  }
}
@media (min-width: 889px) {
  .photo-album-image {
    padding: 5px 1.2%;
  }

  .offer-section-body .photo-album-image:first-of-type, .offer-section-body .photo-album-image:nth-of-type(4n+1) {
    padding-left: 0;
  }
  .offer-section-body .photo-album-image:last-of-type, .offer-section-body .photo-album-image:nth-of-type(4n) {
    padding-right: 0;
  }

  .content .col-md-3 .photo-album-image, .content .col-md-4 .photo-album-image {
    flex-basis: 46%;
  }
  .content .col-md-6 .photo-album-image {
    flex-basis: 21%;
  }
  .content .col-md-8 .photo-album-image, .content .col-md-9 .photo-album-image {
    flex-basis: 23%;
  }
  .content .col-md-8 .offer-section-body .photo-album-image, .content .col-md-9 .offer-section-body .photo-album-image {
    flex-basis: 22%;
  }
  .content .col-md-8 .col-lg-9 .photo-album-image, .content .col-md-9 .col-lg-9 .photo-album-image {
    flex-basis: 21%;
  }
  .content .col-md-8 .col-lg-3 .photo-album-image, .content .col-md-9 .col-lg-3 .photo-album-image {
    flex-basis: 100%;
    padding: 5% 1%;
  }
  .content .col-md-8 .col-md-12 .photo-album-image, .content .col-md-9 .col-md-12 .photo-album-image {
    flex-basis: 17.5%;
  }
  .content .col-md-8 .col-md-6 .photo-album-image, .content .col-md-9 .col-md-6 .photo-album-image {
    flex-basis: 48%;
  }
  .content .col-xs-12 .photo-album-image, .content .col-md-12 .photo-album-image {
    flex-basis: 14%;
    padding: 5px 1.2%;
  }
  .content .col-xs-12 .col-lg-8 .photo-album-image, .content .col-xs-12 .col-md-8 .photo-album-image, .content .col-md-12 .col-lg-8 .photo-album-image, .content .col-md-12 .col-md-8 .photo-album-image {
    flex-basis: 18%;
    padding: 5px 1%;
  }
  .content .col-xs-12 .col-md-6 .photo-album-image, .content .col-md-12 .col-md-6 .photo-album-image {
    flex-basis: 48%;
    padding: 5px 1%;
  }
}
.pane-offer-image-pane .main-image .field-name-field-scald-alt-tag {
  display: none;
}

@media (max-width: 578px) {
  .photo-album-image {
    flex-basis: 21%;
    padding: 5px 1.9%;
  }

  .offer-section-body .photo-album-image {
    flex-basis: 22%;
  }
  .offer-section-body .photo-album-image:first-of-type, .offer-section-body .photo-album-image:nth-of-type(4n+1) {
    padding-left: 0;
  }
  .offer-section-body .photo-album-image:last-of-type, .offer-section-body .photo-album-image:nth-of-type(4n) {
    padding-right: 0;
  }
}
@media screen and (max-width: 1170px) and (min-width: 579px) {
  .photo-album-image {
    flex-basis: 22%;
    padding: 7px 1.2%;
  }

  .content .col-md-9 .offer-section-body .photo-album-image {
    flex-basis: 23%;
    padding: 7px 1.3%;
  }
  .content .col-md-9 .offer-section-body .photo-album-image:first-of-type, .content .col-md-9 .offer-section-body .photo-album-image:nth-of-type(4n+1) {
    padding-left: 0;
  }
  .content .col-md-9 .offer-section-body .photo-album-image:last-of-type, .content .col-md-9 .offer-section-body .photo-album-image:nth-of-type(4n) {
    padding-right: 0;
  }
}
