/**
* @file
* Styling for search form and results.
*
*/
#block-search-api-page-search {
  clear: both;
  padding-top: 15px;
}

form[id*="search-api-page"] {
  position: relative;
  width: 100%;
}
form[id*="search-api-page"] > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
form[id*="search-api-page"] .form-type-textfield {
  width: 100%;
}
form[id*="search-api-page"] .form-text {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  border: 0;
  font-size: 1.1em;
  line-height: 1.4em;
  font-family: inherit;
  text-indent: 0;
  color: #000000;
  box-shadow: none;
}
form[id*="search-api-page"] .form-text::-moz-placeholder {
  color: #A9A9A9;
  opacity: 1;
}
form[id*="search-api-page"] .form-text:-ms-input-placeholder {
  color: #A9A9A9;
}
form[id*="search-api-page"] .form-text::-webkit-input-placeholder {
  color: #A9A9A9;
}
form[id*="search-api-page"] .form-text:focus {
  outline: thin dotted;
  outline-offset: -2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
form[id*="search-api-page"] .form-submit {
  border: none;
  color: #FFF;
  font-size: 1em;
  padding: 0 12px;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  text-transform: uppercase;
}

#search-api-page-search-form .form-text {
  border: 1px solid #CCCCCC;
}

ul.pager {
  padding: 15px;
}

.item-list .pager .pager-item {
  padding: 0;
}

.page-search .region-content {
  margin-top: 23px;
}

.search-api-page-results .item-list {
  padding: 10px 0;
  margin-bottom: 20px;
}

.search-api-page-results .pager-wrapper.last .item-list {
  border-bottom: none;
}

.item-list .pager {
  margin: 0;
  text-align: left;
}

#search-api-page-search-form {
  margin-bottom: 10px;
}

.item-list .pager li {
  padding: 0;
  margin: 0 8px 0 0;
}

.page-search .item-list .pager li.last {
  margin: 0;
}

.search-api-page-results .pager-current {
  font-weight: normal;
}

.hidden-text span {
  left: 0;
  overflow: hidden;
  position: absolute;
  top: -10000px;
}

.pager .pager-next a,
.pager .pager-first a,
.pager .pager-previous a,
.pager .pager-last a {
  width: 17px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
}

.pager .pager-first a {
  background: #FFF url(../images/pager-first.png) center center no-repeat;
}

.pager .pager-previous a {
  background: #FFF url(../images/pager-prev.png) center center no-repeat;
}

.pager .pager-next a {
  background: #FFF url(../images/pager-next.png) center center no-repeat;
}

.pager .pager-last a {
  background: #FFF url(../images/pager-last.png) center center no-repeat;
}

.region-content .search-results {
  margin: 0 0 23px 0;
}

ol.search-results > li:before,
ol.search-results > li:after {
  content: "";
  margin: 0;
}

.search-result h2 a {
  text-decoration: none;
}

.search-result {
  padding-top: 18px;
  margin-top: 23px;
  clear: both;
}
.search-result .featured-image {
  float: left;
  margin-right: 15px;
  margin-top: 20px;
}

.node-type-paddle-maps-page .search-result .featured-image {
  margin-right: 0;
  margin-top: 0;
}
.node-type-paddle-maps-page .search-result .featured-image img {
  margin-right: 15px;
  margin-top: 5px;
}

.search-result:first-child {
  border-top: none;
  margin-top: 0;
}

.search-result .search-read-more a {
  color: #8F8F8F;
  text-decoration: none;
}

.search-api-page-results h3 a,
.search-api-page-results h3 a:hover {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.pane-facetapi .pane-title {
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #FFF;
}
.pane-facetapi .pane-content {
  font-size: .93em;
}
.pane-facetapi ul {
  margin: 0;
}
.pane-facetapi ul ul {
  margin: 0 0 0 15px;
}
.pane-facetapi ul li {
  margin: 0;
  list-style: none;
}
.pane-facetapi a {
  text-decoration: none;
}

ul.search-api-sorts {
  margin: 0 0 15px;
  padding: 0;
  text-align: right;
}
ul.search-api-sorts:before, ul.search-api-sorts:after {
  content: " ";
  display: table;
}
ul.search-api-sorts:after {
  clear: both;
}
ul.search-api-sorts > li {
  display: inline-block;
  margin: 0 0 0 .5em;
}
ul.search-api-sorts .sort-item {
  text-decoration: none;
}
ul.search-api-sorts .sort-item.active-sort {
  text-decoration: underline;
}
ul.search-api-sorts .sort-item > img {
  display: inline-block;
  margin-left: 3px;
}

.mobile-search-btn {
  display: none;
  float: right;
  width: 60px;
  height: 60px;
  margin-left: 2px;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #666;
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.9);
}

/* making search box responsive */
@media (max-width: 578px) {
  .mobile-search-btn {
    display: block;
  }

  .search-pop-up {
    display: none;
  }

  .region-service-links-wrapper {
    position: static;
  }

  #block-search-api-page-search {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
    -o-transition: opacity 0.3s, visibility 0s 0.3s;
    transition: opacity 0.3s, visibility 0s 0.3s;
  }
  #block-search-api-page-search > .content {
    padding: 0 4.20248%;
  }
  #block-search-api-page-search.is-open {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s, visibility 0s 0s;
    -o-transition: opacity 0.3s, visibility 0s 0s;
    transition: opacity 0.3s, visibility 0s 0s;
  }
}
@media (min-width: 579px) {
  #block-search-api-page-search {
    background-color: transparent;
  }
}
@media (max-width: 888px) {
  form[id*="search-api-page"] > div {
    display: table;
    width: 100%;
  }
  form[id*="search-api-page"] .form-type-textfield {
    display: table-row-group;
  }
  form[id*="search-api-page"] .form-submit-container {
    display: table-footer-group;
  }
  form[id*="search-api-page"] .form-submit {
    width: 100%;
    max-width: none;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}
@media (min-width: 889px) {
  form[id*="search-api-page"]:before, form[id*="search-api-page"]:after {
    content: " ";
    display: table;
  }
  form[id*="search-api-page"]:after {
    clear: both;
  }
  form[id*="search-api-page"] .form-submit-container {
    float: right;
    margin-left: 10px;
  }
  form[id*="search-api-page"] .form-type-textfield {
    overflow-x: hidden;
    margin-right: 0;
    padding: 0;
  }
}
.search-pop-up {
  float: right;
  padding: 25px 0 0 6px;
  color: rgba(255, 255, 255, 0.9);
}

@media (min-width: 889px) {
  #search-box-holder {
    float: right;
    width: 93%;
  }
}
@media (min-width: 579px) and (max-width: 888px) {
  #search-box-holder {
    float: left;
    width: 93%;
  }

  #block-paddle-menu-display-top-menu {
    float: left;
    width: 93%;
  }
}
li.search-result {
  min-height: 90px;
}

.search-snippet-publication-date {
  text-transform: uppercase;
  color: #8F8F8F;
}
