/**
 * @file
 * i18n paddlet styling.
 */

#paddle-i18n-configuration-form {
  @media (min-width: $responsive-small) {
    table {
      width: 27%;
      float: left;
      margin-right: 3%;
      th:first-of-type {
        width: 10%;
      }
    }
  }

  @media (max-width: 1000px) {
    // Needed to remove the general sticky-header style.
    table.sticky-header {
      position: fixed !important;
    }
  }
}
body.page-node-translate {
  .form-actions {
    .form-submit {
      display: none;
    }
  }
}

#edit-translations {
  legend {
    text-transform: none;
  }
}
