// @file
// Color variables.
// ---------

$dark-extra:    #20262F;
$dark:       	#1e1e1e;
$medium:       	#e1e1e1;
$light: 		#F7F9FB;
$light-extra:   #fff;
$black-extra: #2F3742;
$black-news: #464646;


$orange:   #ff6600;
$blue:     #003399;

$primary-color: $orange;
$secondary-color: $blue;

$background: #F7F9FB;

$border-color: #D9E5F6; // Borders and rules
$border-color-active: #93ADD1; // Active border

$ui-red:    #c93f30;
$ui-orange: #e37224;
$ui-green:  #2a8b3d;
$ui-blue:   #2b77b2;
